/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   .color{
     color: green;
   }

   html{
     height: 100vh;
   }
   body {
     min-height: 100vh;
     display: flex;
     flex-direction: column;
   }
   article{
     flex: 1;
   }

   article >.intro{
     text-align: center;
     font-weight: bold;
     margin-top: 5%;
   }

   .italic{
     font-style: italic;
     font-family: 'Galada', cursive;
     font-size: 30px;
   }

   p{
     font-family: metroscript,sans-serif;

   }
   .button {
      background-color: #4CAF50; /* Green */
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
    }

    .button:hover{
      background-color: #2259bb;
      transition: all 0.5s ease;
      cursor: pointer;
    }

    #slider{
      width: 100px;
      max-width:1000px;
      margin: 7% auto;
      border: 3px solid #4CAF50;
      background-color: #91ff95;
      border-radius: 30%;
      padding-top: 1%;
      padding-bottom: 1%;
      overflow: hidden
    }

    #slider > figure > img{
      width: 20%;
      height: auto;
      float: left;
    }

    #slider > figure > .css3{
      width: 14%;
      margin-left: 3%;
    }

    #slider > figure{
      position: relative;
      width: 500%;
      margin: 0;
      padding: 0;
      font-size: 0;
      text-align: left;
      left: 0;
      animation: 13s slidy infinite;
    }

    @keyframes slidy {
      0% { left: 0%; }
      20% { left: 0%; }
      25% { left: -100%; }
      45% { left: -100%; }
      50% { left: -200%; }
      70% { left: -200%; }
      75% { left: -300%; }
      95% { left: -300%; }
      100% { left: -400%; }
    }

    footer{
      background-color: black;
      display: flex;
      justify-content: flex-end;
    }

    footer > .social > a > img{
      width: 20px;
    }

    /*========CSS about.html==========*/

    .about > p{
      font-size: 16px;

    }
    .about{
      font-size: 15px;
      width: 76%;
      margin: auto auto;
    }


    .about > .typewriter{
      font-size: 10px;
      font-style: italic;
    }

    .article-about{
      height: auto;
    }

    /*========CSS contact.html=========*/

    article > iframe{
      align-self: center;
      border: 2px solid #4CAF50;
      width: 99%;
    }

    .coordonnées{
      width: 100%;
      align-self: center;
    }

    .coordonnées > p{
      text-align: center;
    }


    form{
      width: 99%;
    }

    form > input{
      border: none;
      background-color: #91ff95;
      width: 100%;
      margin-top: 8px;
      padding: 2px;
    }

    form > textarea{
      margin-top: 3%;
      width: 100%;
      margin-bottom: 3%;
    }

    .block1{
      width: 99%;
    }

    .send{
      margin-bottom: 3%;
    }


    /*===========CSS portfolio.html===========*/

    .portfolio > .content{
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 5%;
    }

    .portfolio{
      display: flex;
      flex-direction: column;
    }

    .portfolio > .content > a {
      text-align: center;
      margin-top: 2%;
    }

    .portfolio >.content > a > img{
      width: 50%;
      box-shadow: 0px 15px 29px 0px #4CAF50;
    }


    .portfolio > .description{
      width: 50%;
      margin: auto;
      display: none;
    }

    .article-portfolio{
      height: auto;
    }


    @media (min-width:768px) {


      .about > p{
        font-size: 20px;

      }

      .about{
        width: 80%;
        margin:  auto auto;
        font-size: 30px;
      }

      .about > .typewriter {
        font-size: 18px;
        color:#4CAF50;
      }

      .box{
        padding-bottom: 4%;
      }
      /*======css contact.html=========*/

      .block1{
        display: flex;
        flex-direction: row;
      }

      /*=======CSS portfolio.html==========*/

      .portfolio > .content{
        width: 50%;
      }

      .portfolio{
        display: flex;
        flex-direction: row;
      }

      .portfolio > .description{
        display: block;
      }
    }

    @media (min-width: 992px) {
      .typewriter {
      color: black;
      font-size: 16px;
      font-family: monospace;
      overflow: hidden; /* Ensures the content is not revealed until the animation */
      border-right: .15em solid orange; /* The typwriter cursor */
      white-space: nowrap; /* Keeps the content on a single line */

      letter-spacing: .15em; /* Adjust as needed */
      animation:
        typing 5s steps(30, end),
        blink-caret .5s step-end infinite;
      }

      .about{
        margin-top: 10%;
      }

      .about > .typewriter {
        font-size: 16px;
      }


      /* The typing effect */
      @keyframes typing {
        from { width: 0 }
        to { width: 100% }
      }

      /* The typewriter cursor effect */
      @keyframes blink-caret {
        from, to { border-color: transparent }
        50% { border-color: orange }
      }

    }

    @media (min-width: 1200px) {

    }














/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
